$orange: #f5a149;

.switch-control-container {

    & .custom-control {
        padding: 0;

        & .custom-control-input {
            width: 0;
            height: 0;

            &~label {
                color: #d3d3d0;
                font-size: 11px;
                font-weight: bold;

                &.left-label {
                    padding-right: 2.75rem;
                }
            }

            &:not(:checked)~.left-label {
                color: #000;
            }

            &~.custom-control-label {
                top: 1px;

                &::before {
                    border-color: #d3d3d0;
                    background-color: #d3d3d0;
                    width: calc(1.75rem + 1px);
                    height: calc(1rem + 1px);
                }

                &::after {
                    background-color: #fff;
                    top: calc(0.25rem + 1px);
                    left: calc(-2.25rem + 2px);
                    width: calc(1rem - 2px);
                    height: calc(1rem - 1px);
                }
            }

            &:checked {
                &~.right-label {
                    color: #000;
                }

                &~.custom-control-label::before {
                    color: orange;
                    border-color: orange;
                    background-color: orange;
                }
            }

            &:focus~.custom-control-label::before {
                box-shadow: none !important;
            }

            &:focus:not(:checked)~.custom-control-label::before {
                border-color: #d3d3d0;
            }
        }
    }
}