.salary-form-container {
    & .form-label {
        font-size: 11px;
        color: #d3d3d0;
        font-weight: bold;
    }

    & .mdi-information-outline,
    & .mdi-close-circle-outline {
        font-size: 20px;
        color: #c7c7c2;
        cursor: pointer;

        &:hover {
            color: #5e6cab;
        }
    }

    & .sum-container {
        & .custom-radio {
            height: 32px;

            & .custom-control-input:checked~.custom-control-label {
                &::before {
                    background-color: #fff;
                    border: #adb5bd solid 1px;
                    border-radius: 50%;
                }

                &::after {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='4' fill='%23000'/%3E%3C/svg%3E");
                }
            }

            & .custom-control-input:focus~.custom-control-label::before {
                box-shadow: none;
            }
        }
    }

    & .salary-input {
        border-radius: 15px;
        height: 26px;
        width: 145px;
    }
}

.salary-info-container {
    background-color: #fbf3dc;
    padding: 2rem;
    display: inline-block;
}

.salary-minimal-tooltip {
    &.tooltip.show.bs-tooltip-bottom {
        opacity: 1;
        top: 7px !important;
        left: 8px !important;

        & .arrow {
            transform: none !important;

            &::before {
                border-bottom-color: #5e6cab;
                border-width: 0 12px 15px 0;
            }
        }

        & .tooltip-inner {
            background-color: #5e6cab;
            border-radius: 0;
            font-size: 12px;
            padding: 15px 10px;
            font-weight: bold;
        }
    }
}